<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Model\StockState">
        <plugin name="allow_checkout_back_order_in_retail" type="\SM\Sales\Plugin\AllowCheckOutBackOrder"/>
    </type>
    <!--Allow zero custom price-->
    <type name="Magento\Quote\Model\Quote\Item\Processor">
        <plugin name="allowZeroCustomPrice" type="\SM\Sales\Plugin\AllowZeroCustomPrice"/>
    </type>
    <!--Allow retail shipping method-->
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="allowRetailShipping" type="\SM\Sales\Plugin\AllowRetailShipping"/>
    </type>
    <!--   Allow Refund Pending Order -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="allowRefundPendingOrder" type="\SM\Sales\Plugin\AllowRefundPendingOrder" />
    </type>
    <!--    Set qty to refund for pending order -->
    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="setQtyToRefundPendingOrder" type="\SM\Sales\Plugin\SetQtyToRefundPendingOrder" />
    </type>
    <!--    Calculate row total when refund pending order -->
    <preference for="Magento\Sales\Model\Order\Creditmemo\Item" type="SM\Sales\Model\Order\Creditmemo\Item" />
    <!--    Override total paid block display on backend -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="calculateTotalDue" type="\SM\Sales\Plugin\CalculateTotalDue" />
    </type>

    <preference for="Magento\Sales\Model\Order\Creditmemo\Total\Tax" type="SM\Sales\Model\Order\Creditmemo\Total\Tax" />
    <preference for="Magento\Sales\Model\Order\Creditmemo\Total\Discount" type="SM\Sales\Model\Order\Creditmemo\Total\Discount" />

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="retail_id" xsi:type="string">sales_order.retail_id</item>
                <item name="sm_seller_username" xsi:type="string">sales_order.sm_seller_username</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\SalesArchive\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="retail_id" xsi:type="string">sales_order.retail_id</item>
                <item name="sm_seller_username" xsi:type="string">sales_order.sm_seller_username</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Info" type="SM\Sales\Block\Adminhtml\Order\View\Info"/>

    <!-- Propagate Quote Item Warehouse ID to Order Item Warehouse ID -->
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="mpfreegifts_After_Order_Item" type="SM\Sales\Plugin\AfterOrderItem"/>
    </type>

    <preference for="BoostMyShop\AdvancedStock\Model\ExtendedSalesFlatOrderItem" type="SM\Sales\Model\AdvancedStock\ExtendedSalesFlatOrderItem" />
</config>
