<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogInventory\Model\StockStateProvider" type="SM\Sales\Model\CatalogInventory\StockStateProvider" />

    <type name="Magento\CatalogInventory\Model\StockState">
        <plugin name="allow_checkout_back_order_in_retail" type="\SM\Sales\Plugin\AllowCheckOutBackOrder"/>
    </type>
    <!--Allow zero custom price-->
    <type name="Magento\Quote\Model\Quote\Item\Processor">
        <plugin name="allowZeroCustomPrice" type="\SM\Sales\Plugin\AllowZeroCustomPrice"/>
    </type>
    <!--Allow retail shipping method-->
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="allowRetailShipping" type="\SM\Sales\Plugin\AllowRetailShipping"/>
    </type>

    <type name="Emartech\Emarsys\Model\OrderRepositoryPlugin">
        <plugin name="connectpos_order_repository" type="SM\Sales\Model\OrderRepositoryPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="connectpos_custom_sale_name" type="SM\Sales\Plugin\ChangeCustomSaleOrderItemName" sortOrder="10"/>
        <plugin name="convert_quote_item_fields_to_order_item" type="SM\Sales\Plugin\ConvertQuoteItemFieldsToOrderItem" sortOrder="10"/>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="retail_id" xsi:type="string">sales_order.retail_id</item>
                <item name="sm_seller_username" xsi:type="string">sales_order.sm_seller_username</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\SalesArchive\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="retail_id" xsi:type="string">sales_order.retail_id</item>
                <item name="sm_seller_username" xsi:type="string">sales_order.sm_seller_username</item>
            </argument>
        </arguments>
    </virtualType>

    <!--  Override Invoice  -->
    <preference for="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice" type="SM\Sales\Model\Rewrite\Order\Pdf\Invoice\DefaultInvoice"/>
    <preference for="Magento\Bundle\Model\Sales\Order\Pdf\Items\Invoice" type="SM\Sales\Model\Rewrite\Order\Pdf\Bundle\Items\Invoice"/>

    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Info" type="SM\Sales\Block\Adminhtml\Order\View\Info"/>

    <type name="Webkul\Preorder\Helper\Data">
        <plugin name="connectpos-webkul-preorder-custom-price" type="SM\Sales\Plugin\WebkulPreorder\CustomPrice" sortOrder="1"/>
    </type>

    <type name="Webkul\Preorder\Model\Creditmemo\Total\PreorderFee">
        <plugin name="connectpos-webkul-creditmemo-preorder-fee" type="SM\Sales\Plugin\WebkulPreorder\CreditmemoTotal" sortOrder="1"/>
    </type>
    <type name="Webkul\Preorder\Model\Quote\Total\PreorderFee">
        <plugin name="connectpos-webkul-creditmemo-preorder-fee" type="SM\Sales\Plugin\WebkulPreorder\QuoteTotal" sortOrder="1"/>
    </type>
    <type name="Webkul\Preorder\Model\Invoice\Total\PreorderFee">
        <plugin name="connectpos-webkul-creditmemo-preorder-fee" type="SM\Sales\Plugin\WebkulPreorder\InvoiceTotal" sortOrder="1"/>
    </type>

</config>
