<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="save_outlet_to_quote_and_order" instance="\SM\Sales\Observer\SaveRetailDataToOrderAndQuote"/>
    </event>
    <event name="disable_giftcard_refund">
        <observer name="magento_giftcardaccount" instance="\SM\Sales\Observer\RevertGiftCardAccountBalance" />
    </event>
    <event name="connectpos_save_exchange_order_ids">
        <observer name="connectpos_save_exchange_order_ids" instance="\SM\Sales\Observer\SaveExchangeOrderIds"/>
    </event>
    <event name="sales_quote_add_item">
        <observer name="connectpos_quote_update_item_comment" instance="\SM\Sales\Observer\UpdateQuoteItemComment"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="add_order_increment_id_prefix" instance="SM\Sales\Observer\AddIncrementIdPrefix"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="add_order_outlet_payment_method" instance="SM\Sales\Observer\AddOutletPaymentMethod"/>
    </event>
    <event name="catalog_product_is_salable_after">
        <observer name="make_custom_sale_always_salable" instance="SM\Sales\Observer\MakeCustomSaleAlwaysSalable"/>
    </event>
</config>
